# Python & Django
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
.env
*.log


# VSCode and system files
.vscode/
*.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
ENV/
.venv/

# NPM
node_modules/
package-lock.json
package.json
npm-debug.log
yarn-error.log


# Git
*.swp
*.swo

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

