
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="{%static 'css/profile.css'%}" rel="stylesheet">
</head>
<body>
    <div class="flex items-center justify-center min-h-screen bg-gray-800">
        <div class="bg-white rounded-l p-10">
            <div class="text-black font-semibold text-2xl mb-4 text-center">Welcome to you profile</div>
            
            <div class="flex items-center justify-center">
                <img src="./Photo.jpg" alt="Profile Picture" class="rounded-full h-32 w-32 mt-10 mb-10">
            </div> 
            <div class="text-black mb-4 text-center">{{name}}</div>
            <div class="text-black mb-4 text-center">{{ email }}</div>
            

        </div>      
    </div>
    
</body>
</html>